html{
  line-height: 1.15;
}

body {
  width: 100%;
  height: 100%;
  font-feature-settings: 'onum' 1;
color: #333;
text-rendering: optimizeLegibility;
font-size: calc(.35842vw + .95296em);
}
a{
  text-decoration: none;
  color: #333;
}

body p{
  line-height: calc(1.5em + .2vw);
word-break: break-word;
}

button {
  border-radius: 10px;
  padding: 12px;
  border: none;
  background-color: #b13125;
  margin-bottom: 10px;
}

.button {
  text-align: center;
}

h2 {
  font-size: calc(1.2em + .2vw);
  margin: 0 0 1em;
  line-height: 1.2;
}

.nav-bar {
  margin-top: 30px;
  background: #d33a2c;
  display: flex;
  justify-content: space-around;
  align-content: center;
  color: white;
  font-weight: bold;
}

.articles {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.books {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.events {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.jobs {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.membership {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  cursor: pointer;
}

.topics {
  display: flex;
  border: 3px solid white;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  top: 20px;
  cursor: pointer;
}

.nav-bar p {
  font-weight: normal;
}

.topics a {
  text-decoration: none;
  color: white;
}
.fa-search {
  padding: 12px;
}

.section-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 500px 500px;
  color: white;
}

.grid-1 {
  background-color: #d33a2c;
}

.grid-2 {
  background-color: #c7372a;
}

.grid-3 {
  background-color: blue;
}

.grid-4 {
  background-color: #bc3428;
}

.grid-1 div {
  display: flex;
}

.grid-1 img {
  width: 80px;
  border-radius: 20px;
  border: 5px solid white;
  margin: 80px 0 0 100px;
}

.grid_one_p {
  margin: 100px 0 0 10px;
  font-weight: bold;
}

.grid_one_p1 {
  margin: 100px 0 0 10px;
}

.grid_one_p2 {
  display: flex;
  margin: 30px 0 0 80px;
  font-size: 30px;
  font-weight: bold;
  justify-content: space-around;
}

.icon {
  font-size: small;
  position: relative;
  top: 145px;
  right: 380px;
}

.grid-one-hash {
  position: relative;
  bottom: 20px;
  left: 92px;
  font-weight: bold;
}

.grid-one-hash p {
  margin: 20px;
}

.grid-one-arrow {
  position: relative;
  left: 50px;
}

.grid-2 div {
  display: flex;
}

.grid-2 img {
  width: 80px;
  border-radius: 20px;
  border: 5px solid white;
  margin: 80px 0 0 100px;
}

.grid_two_p2 {
  display: flex;

  font-size: 30px;
  font-weight: bold;
  margin-left: 90px;
}

.grid-two-hash {
  position: relative;
  bottom: 20px;
  left: 92px;
  font-weight: bold;
}

.grid-two-hash p {
  margin: 20px;
}

.icon1 {
  font-size: small;
  position: relative;
  top: 75px;
  right: 240px;
}

.grid-two-arrow {
  position: relative;
  left: 50px;
}

.grid-3 div {
  display: flex;
}

.grid-3 img {
  width: 80px;
  border-radius: 20px;
  border: 5px solid white;
  margin: 80px 0 0 100px;
}

.grid_three_p2 {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  margin-left: 90px;
}

.grid-three-hash {
  position: relative;
  bottom: 20px;
  left: 92px;
  font-weight: bold;
}

.grid-three-hash p {
  margin: 20px;
}

.icon2 {
  font-size: small;
  position: relative;
  top: 110px;
  right: 180px;

}

.grid-three-arrow {
  position: relative;
  left: 50px;
}

.grid-4 div {
  display: flex;
}
.grid-4 img {
  width: 80px;
  border-radius: 20px;
  border: 5px solid white;
  margin: 80px 0 0 100px;
}

.grid_four_p2 {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  margin-left: 90px;
}

.grid-four-hash {
  position: relative;
  bottom: 20px;
  left: 92px;
  font-weight: bold;
}

.grid-four-hash p {
  margin: 20px;
}

.icon3 {
  font-size: small;
  position: relative;
  top: 180px;
  right: 80px;

}

.grid-four-arrow {
  position: relative;
  left: 50px;
}
.article-section {
  color:#666;
  display: block;
  font-family: Elena;

}

.article-wrapper {
  width: 94vw;
  max-width: 1440px;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  box-sizing: border-box;
}

.article-wrapper::after{
  content: '';
  display: table;
  clear: both;
}

.article-row{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.article-row::after{
  clear: both;
}

.vertical-heading {
  max-width: 17.5em;
  color: #000;
display: block;
text-align: right;
background-image: linear-gradient(currentColor,currentColor);
background-size: 100% 1px;
background-repeat: no-repeat;
font-feature-settings: 'smcp' 1,'c2sc' 1;
font-variant: small-caps;
background-position: center center;
text-transform: uppercase;
line-height: 1;
font-size: .7em;
margin: 3em 0 0;
transform-origin: left center;
transform: rotateZ(90deg) translateX(-5em) translateY(1em);
letter-spacing: 4px;
flex-basis: 100%;
}

.vertical-heading span{
  display: inline-block;
  padding: 0 .6em;
  position: relative;
  top: .1em;
}

/* .article {
  display: flex;
  flex-direction: column;
  min-height: 0;
  padding: 0 1em;
  padding-bottom: 150px;
  transition: all .2s ease-out;
  position: relative;
  width: 33.33333%;
  float: left;
  margin-bottom: calc(.5em + 1vw);
} */
.article-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  grid-auto-rows: minmax(100px, auto); 
  padding: 10px;
  background-color:rgb(201, 201, 201)
}

.article-pic {
  text-align: center;
}

article{
  position: relative;
  z-index: 1;
  display: block;
}

article header {
  margin-bottom: 1em;
}

time {
  display: block;
  margin-bottom: .5em;
  font-size: .8em;
  font-feature-settings: 'smcp' 1,'c2sc' 1;
  letter-spacing: 1px;
  font-variant: small-caps;
  text-transform: lowercase;
  background-position: center 72%;
}

.article-heading a {
  text-decoration: none;
  padding: 10px 0;
  background-image: linear-gradient(#333,#333);
background-repeat: no-repeat;
background-size: 100% 1.5px;
background-position: center bottom 29%;
background-origin: padding-box;
text-shadow: 3px 0 #f6f3f2,2px 0 #f6f3f2,1px 0 #f6f3f2,-1px 0 #f6f3f2,-2px 0 #f6f3f2,-3px 0 #f6f3f2;
transition: color .1s ease-out;
position: static;
}

header span {
  font-family: Mija;
  font-weight: 700;
font-size: .8em;
}

header span a{
  color: #666;
 text-decoration: none;
 padding: 10px 0;
 background-image: linear-gradient(#666,#666);
 background-repeat: no-repeat;
background-size: 100% 1.5px;
background-position: center bottom 29%;
background-origin: padding-box;
text-shadow: 3px 0 #f6f3f2,2px 0 #f6f3f2,1px 0 #f6f3f2,-1px 0 #f6f3f2,-2px 0 #f6f3f2,-3px 0 #f6f3f2;
transition: color .1s ease-out;
}

article p {
  font-size: calc(.85em + .2vw);
  display: inline;
}

.read-more {
  margin: 60px 0;
}

.smashing-book {
  width: 100%;
  height: 400px;
  background-color: rgb(119, 119, 119);
}

.curated-post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto); 
  height: 800px;
}

.post-1 {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: rgb(179, 179, 179);
}

.post-2 {
  grid-column: 2 / 3;
  grid-row: 1;
  background-color: rgb(201, 201, 201);
}

.post-3 {
  grid-column: 3 / 3;
  grid-row: 1;
  background-color:  rgb(179, 179, 179);
}

.post-4 {
  grid-column: 1 / 3;
  grid-row: 2;
  background-color:  rgb(201, 201, 201);
}

.post-5 {
  grid-column: 2 / 4;
  grid-row: 2;
  background-color:  rgb(119, 119, 119);
}

.see-article {
  text-align: center;
  padding: 50px;
}
footer{
  height: 100vh;
  background-color:  rgb(201, 201, 201);
  position: relative;
}
.footer-1{
  position: absolute;
  background-color:rgb(119, 119, 119);
  height: 150px;
  width: 150px;
  bottom: 40px;
  left: 40px;
}

.footer-2{
  position: absolute;
  background-color: rgb(119, 119, 119);
  height: 150px;
  width: 150px;
  bottom: 40px;
  right: 40px;
}
